
body {
  background-color: #eeeded;
}

.page {
  width: 60dvw;
  margin: auto;
  padding-top: 10px;

  .tab {
    background-color: white;

    :global(.MuiTabs-indicator) {
      background-color: #ff6600;
      height: 4px;
    }
  
    :global(.MuiButtonBase-root) {
      flex-grow: 1;
      flex-basis: 50%;
      max-width: none;
      color: rgb(85, 85, 85);
      font-weight: bold;
      text-transform: none;
    }

    :global(.MuiTabs-list) {
      width: 100%;
      /* background-color: red; */
    }
  }
}
